In [50]:
# if 品种 in 
a = ['品种：苹果AP\n\xa0\xa0\xa0\xa0日期：2018-03-16\n']

if '品种' in a[0]:
    print('dfdf')

dfdf

In [44]:
a = a[0].split()
a

['品种：苹果AP', '日期：2018-03-16']

In [45]:
a = [x.split('：') for x in a]
a

[['品种', '苹果AP'], ['日期', '2018-03-16']]

In [48]:
xx = [['品种', '苹果AP'], ['日期', '2018-03-16']]

def list_to_dict(xx):
    
    dict_xx = {}
    
    for i in xx:    
        dict_xx.update({i[0]:i[1]})
    return dict_xx

list_to_dict(xx)

{'品种': '苹果AP', '日期': '2018-03-16'}

In [23]:
import json

In [27]:
b = json.dumps(a)
b

'[["\\u54c1\\u79cd", "\\u82f9\\u679cAP"], ["\\u65e5\\u671f", "2018-03-16"]]'

In [29]:
json.loads(b)

[['品种', '苹果AP'], ['日期', '2018-03-16']]

In [51]:
a1 = {'品种': '苹果AP', '日期': '2018-03-16'}
a2 = [' 名次 ', ' 会员简称 ', ' 成交量（手）', ' 增减量', ' 会员简称 ', ' 持买仓量', ' 增减量', ' 会员简称 ', ' 持卖仓量', ' 增减量']
a3 = ['1', '中银国际', '42,466', '7,247', '徽商期货', '3,354', '759', '光大期货', '3,188', '329']
a4 = ['2', '兴证期货', '39,059', '12,916', '银河期货', '2,463', '112', '徽商期货', '2,535', '500']

dict(zip(a2,a3))

{' 会员简称 ': '光大期货',
 ' 名次 ': '1',
 ' 增减量': '329',
 ' 成交量（手）': '42,466',
 ' 持买仓量': '3,354',
 ' 持卖仓量': '3,188'}

In [54]:
import pandas as pd
import numpy as np

In [81]:
Se1 = np.array(a3).reshape((10,1))

Se1

array([['1'],
       ['中银国际'],
       ['42,466'],
       ['7,247'],
       ['徽商期货'],
       ['3,354'],
       ['759'],
       ['光大期货'],
       ['3,188'],
       ['329']],
      dtype='<U6')

In [117]:
a1 = {'品种':['棉纱CY'], '日期':['2018-03-16']}
a2 = [' 名次 ', ' 会员简称 ', ' 成交量（手）', ' 增减量', ' 会员简称 ', ' 持买仓量', ' 增减量', ' 会员简称 ', ' 持卖仓量', ' 增减量']
a3 = ['1', '中银国际', '42,466', '7,247', '徽商期货', '3,354', '759', '光大期货', '3,188', '329']
a4 = ['2', '兴证期货', '39,059', '12,916', '银河期货', '2,463', '112', '徽商期货', '2,535', '500']

In [142]:
df1 = pd.DataFrame(np.array(a3).reshape(1,10),columns=a2)
df2 = pd.concat([df1,df1],axis=0)
df2.drop

   名次   会员简称   成交量（手）    增减量  会员简称    持买仓量  增减量  会员简称    持卖仓量  增减量
0    1   中银国际  42,466  7,247   徽商期货  3,354  759   光大期货  3,188  329
0    1   中银国际  42,466  7,247   徽商期货  3,354  759   光大期货  3,188  329

In [109]:
# 将数字字符串中的逗号去掉
def numstring_to_int(numstring):
    return int(numstring.replace(',',''))

print(numstring_to_int(a3[0]))
print(numstring_to_int(a3[2]))

1
42466

In [128]:
# a1 = {'品种':'棉纱CY', '日期':'2018-03-16'}
# a1 = {key:[value] for key,value in zip(a1.keys(), a1.values())}
df1 = pd.DataFrame(a1)
df1

     品种          日期
0  棉纱CY  2018-03-16

In [137]:
dfa1 = pd.concat([df1,df],axis=1)
dfa2 = dfa1
pd.concat([dfa1,dfa2],axis=0)

,品种,日期,名次,会员简称,成交量（手）,增减量,会员简称,持买仓量,增减量,会员简称,持卖仓量,增减量
0,棉纱CY,2018-03-16,1,中银国际,"42,466","7,247",徽商期货,"3,354",759,光大期货,"3,188",329
0,棉纱CY,2018-03-16,1,中银国际,"42,466","7,247",徽商期货,"3,354",759,光大期货,"3,188",329

In [152]:
dfa2.index

RangeIndex(start=0, stop=1, step=1)

In [135]:
a1 = {'品种':['棉纱CY'], '日期':['2018-03-16']}
b1 = a1
a1 = {}
b1

{'品种': ['棉纱CY'], '日期': ['2018-03-16']}

In [145]:
def xxx(tr):
    if tr is 3:
        return tr
a = xxx(5)
print(a)

None

In [153]:
import json

In [ ]:
db.zhengzhou.insert(json.loads(i.to_json(orient='records')))